
[run]
branch = True
source = stoq/
omit =
    */stoq/tests/*
    */stoq/cli.py
    */stoq/installer.py
    */stoq/utils.py
    */stoq/__main__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
